<% if !!session[:user_id] && !!params[:group_slug] %>
  <%= render partial: 'layouts/nav/user_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]), user: User.find(session[:user_id])} %>
<% elsif !!session[:user_id] %>
  <%= render partial: 'layouts/nav/user_home_nav', locals: {user: User.find(session[:user_id])} %>
<% else  %>
  <%= render partial: 'layouts/nav/public_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]) } %>
<% end %>




=====from merge @ 1:38PM 5/20
<% if !session[:user_id].nil? %>
  <%= render partial: 'layouts/user_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]), user: User.find(session[:user_id])} %>
<% else %>
  <%= render partial: 'layouts/public_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]) } %>
<% end %>


====taken from user_group_nav
<a style="color: white;" href="/<%= group.group_slug %>/memes/new"><button type="button" class="btn btn-primary">


======


<% if !!session[:user_id] && !!params[:group_slug] %>
  <%= render partial: 'layouts/nav/user_group_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]), user: User.find(session[:user_id])} %>
<% elsif !!session[:user_id] && !params[:group_slug] %>
  <%= render partial: 'layouts/nav/user_home_nav', locals: {user: User.find(session[:user_id])} %>
<% elsif !session[:user_id] && !!params[:group_slug] %>
  <%= render partial: 'layouts/nav/public_group_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]) } %>
<% else %>
  <%= render partial: 'layouts/nav/public_home_nav' %>
<% end %>


======
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GroupMeme</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Removed reference to group title since user will have no group association if not logged in  -->
      <!-- <p class="navbar-text">< group.title ></p> -->
      <a href="<%= login_path %>"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a>
      <a href="<%= registration_new_path %>"><button type="button" class="btn btn-default navbar-btn">Sign up</button></a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
