<!DOCTYPE html>
<html>
<head>
  <title>GroupMeme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navbar -->
<!-- If session id exists, user_nav. If not, generic public nav. -->
  <% if !session[:user_id].nil? %>
    <%= render partial: 'layouts/user_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]), user: User.find(session[:user_id])} %>
  <% else %>
    <%= render partial: 'layouts/public_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]) } %>
  <% end %>

<!-- Flashes -->
<% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
  <% end %>
<%= yield %>

</body>
</html>
