<!DOCTYPE html>
<html>
<head>
  <title>GroupMeme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navbar -->
<% if !!session[:user_id] && !!params[:group_slug] %>
  <%= render partial: 'layouts/nav/user_group_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]), user: User.find(session[:user_id])} %>
<% elsif !!session[:user_id] && !params[:group_slug] %>
  <%= render partial: 'layouts/nav/user_home_nav', locals: {user: User.find(session[:user_id])} %>
<% elsif !session[:user_id] && !!params[:group_slug] %>
  <%= render partial: 'layouts/nav/public_group_nav', locals: { group: Group.find_by(group_slug: params[:group_slug]) } %>
<% else %>
  <%= render partial: 'layouts/nav/public_home_nav' %>
<% end %>


<!-- Flashes -->
<% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
  <% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
